
body{
    width: 100%;
}

main {
    margin-top: 90px;
}

/* header */
header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
}

.title {
    border: solid black 5px;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
}

a.user-nav {
    text-decoration: none;
}

.user-nav {
    font-family: 'PT Serif', serif;
    color: black;
    transition: .3s linear;
    padding-right: 15px;
}

a.user-nav:hover {
    color: lightgray;
    cursor: pointer;
}

/* modal */
.modal {
    z-index: 3;
}

.modal-title {
    font-family: 'Poppins', sans-serif;
}

.modal-link {
    font-size: 14px;
    font-family: 'PT Serif', serif;
    transition: .3s linear;
}

.modal-link:hover {
    color: black;
    cursor: pointer;
}

.or {
    width: 80%; 
    text-align: center; 
    border-bottom: 1px solid gray; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h6 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .submit-modal {
    border: none;
    border-radius: 2px;
    padding: 5px 40px;
 }

/* nav dropdown */
.dropdown-item {
    font-family: 'PT Serif', serif;
}

.nav-list {
    margin: 10px;
    padding: 10px;
    color: black;
    transition: .3s linear;
}

a.nav-list:hover {
    color: lightgray;
}

/* footer */
footer {
    width: 100%;
}

.main-footer {
    width: 100%;
    background-color: #3e432d;
    height: 300px;
}

a.nav-link {
    text-decoration: none;
    color: white;
    transition: .3s linear;
    font-size: 14px;
}

a.nav-link:hover {
    color: #c3c4b2;
}

.footer-title {
    margin: 20px;
    color: white;
    text-align: center;
    border: solid white 5px;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
}

.first {
    padding-left: 100px;
}

.second {
    padding-left: 400px;
}

.newsletter-input {
    padding: 1px 60px;
    border-radius: 3px;
}

.newsletter {
    padding-bottom: 20px;
    color: white;
}

.social {
    padding-top: 20px;
    color: white;
}

.social-icon {
    color: white;
}

input.newsletter-input {
    background-color: #c0c0c0;
    border: none;
}

button.footer-submit {
    background-color: #3e432d;
    border: solid white 1px;
    border-radius: 3px;
    color: white;
    padding: 0 20px;
}

.bottom-footer {
    color: #3e432d;
    padding: 10px;
    font-size: 12px;
}

/* ====== Landing ====== */
    /* left/right photos with info */
.left-photo-info {
    background-image: url(../images/rubber.jpg);
    background-position: center;
    background-size: cover, contain;
    background-repeat: no-repeat;
    position: relative;
    height: 532px;
    color: white;
    padding: 20px;
    position: relative;
}

.left-photo-info::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(62, 67, 45, .7);
}

.photo-info-title {
    font-family: 'Poppins', sans-serif;
    z-index: 0;
}

.photo-info-subtitle {
    font-family: 'Poppins', sans-serif;
    z-index: 0;
}

.photo-info-text {
    font-family: 'PT Serif', serif;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    z-index: 0;
}

.learn-more-link {
    z-index: 0;
}

.learn-more-button {
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: #c3c4b2;
    color: white;
}

.right-photo-info {
    background-image: url(../images/landing-header.jpg);
    background-position: center;
    background-size: cover, contain;
    width: 100%;
}
    /* landing posts */
.posts-preview {
    height: 330px;
}

    /* about us */
.about {
    font-family: 'Poppins', sans-serif;
}

.about-text {
    padding: 40px;
    font-size: 14px;
    margin:40px;
    font-family: 'PT Serif', serif;
}

.left-about {
    height: 900px;
    background-color: #f6f5e8;
    color: #3e432d;
    width: 900px;
}

.about-right {
    background-image: url(../images/gloriosum.png);
    background-position: center;
    background-size: cover, contain;

}


/* ====== Profile ====== */
.profile-header {

}

/* Profile image */
.profile-img {
    height: 400px;
}

button.edit {
    border: none;
    background: transparent;
}

img.profile-pic {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: white;
    height: 200px;
    width: 200px;
}

.image-container {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    display: inline;
    top: 100px;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #00000040;
    border-radius: 50%;
}

.image-container:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.profile-pic-sm {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    border: 5px solid rgb(168,136,255);
}

/* profile info */
.profile-info {
    margin-bottom: 25px;
}