{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="profile-header row">
        <!-- profile photo -->
        <div class="profile-img col-sm d-flex flex-column justify-content-center align-items-end">
                <!-- edit profile image-->
            {% if user.id == view_user.id %}
            <button type="button" class="edit" data-toggle="modal" data-target="#imageModal">
                <div class="image-container">

                        <!-- Profile image -->
                    <img class="profile-pic rounded-circle" src="{% static '' %}{{view_user.profile.image}}" alt="Profile Picture">
                    
                    <div class="middle">
                        <div class="text">
                                <!-- update photo icon -->
                            <svg class="bi bi-image" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z"/>
                            <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                            <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                            </svg>
                            Update
                        </div>
                    </div>

                </div>
            </button>
            {% else %}
                <img class="profile-pic rounded-circle" src="{% static '' %}{{view_user.profile.image}}" alt="Profile Picture">
            {% endif %}    
        </div>

        <!------------------ MODALS ------------------>
            <!-- Edit Profile Info Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                        <!-- edit button -->
                    <div class="float-right p-3">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Edit Profile</h5>

                        <!-- edit form -->
                    <div class="row">
                        <div class="col-sm">
                            <div class="modal-body">
                                <form action="{% url 'edit_profile' %}" method="POST">
                                    {% csrf_token %}
                                    {{ edit_profile_form|crispy }}
                                    <div class="text-center form-sm mt-2">
                                        <button class="submit-modal">Edit Profile</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- add profil image -->
                    <div class="float-right p-3">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                        <h5 class="modal-title d-flex justify-content-center" id="imageModalLabel">Add Profile Picture</h5>
                    <!-- add profile photo form -->
                    <div class="modal-body d-flex justify-content-center">
                        <form action="{% url 'profile' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {{ image_form|crispy }}
                            <div class="text-center form-sm mt-4 mb-2">
                                <button class="submit-modal">Add Profile Picture</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
            <!-- right -->
        <div class="col-sm d-flex flex-column justify-content-center align-items-start">
           
            <!-- show edit button logic -->
            <div class="profile-info">
                <h6 class="username"> Username: {{ user.username }} </h6>
                <h6 class="username"> Location: {{ user.profile.location }} </h6>
                <h6 class="username"> Bio: {{ user.profile.bio }} </h6>
            </div>

            {% if user.id == view_user.id %}
                <button type="button" class="edit" data-toggle="modal" data-target="#exampleModal">
                    <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                        <path fill-rule="evenodd"
                            d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                    </svg>
                </button>
            {%endif%}
        </div>
    </div>

    <div class="user-posts container d-flex flex-column">
        <div class="row mt-4">
                <!-- Search form -->
            <div class="col-sm search">
                <form class="d-flex justify-content-start align-items-center">
                    <i class="fas fa-search pr-3" aria-hidden="true"></i>
                    <input class="" type="text" placeholder="Search"
                    aria-label="Search">
                </form>
            </div>
                <!-- Filter dropdown -->
            <div class="col-sm filter d-flex justify-content-end">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filter
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">Latest</button>
                      <button class="dropdown-item" type="button">Oldest</button>
                      <button class="dropdown-item" type="button">Alphabetical</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                Posts will go here. Someday.
            </div>
        </div>
    </div>



{% endblock %}